@font-face { font-family: KFGQPC HafsEx1 Uthmanic Script; src: url('./UthmanicHafs1Ex1Ver12.otf'); } 
#quote-box{
  background-color : whitesmoke;
  width: 400px;
  border-radius: 3px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#text {
  color: #292929;
  font-family: 'KFGQPC HafsEx1 Uthmanic Script';
  direction: rtl;
  font-size: 2em;
  padding: 20px;
  margin-bottom:0px;
  padding-bottom:20px;
}

#author {
  text-align:end;
  font-family: 'Noto Naskh Arabic UI';
  padding-right: 20px;
  direction:rtl;
  margin-top:-10px;
  margin-left:20px;
  margin-bottom: 40px;
}

#title {
  text-align: center;
  font-family: 'Noto Naskh Arabic UI';
  direction: rtl;
  display:none;
}

#new-quote {
  border: 0px;
  border-radius: 3px;
  color:white;
  /* display: block; */
  position: absolute;
  right:20px;
  bottom:20px;
  /* bottom: 0px; */
  /* margin-left:auto; */
  /* padding-bottom:0px; */
  /* margin-right : 0px; */
  /* margin-bottom : 30px; */
}

#loading {
  font-size: 1.5em;
  font-family : Noto Naskh Arabic;
  text-align: center;
}

#twitterbox {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  position: relative;
  left: 20px;
  bottom: 20px;
  display: none;
}

img {
  border-radius: 5px;
}
